<div class="content" [style]="contentStyle()">
  @if (displayOnly()) {
    <span class="text">{{ caption() }}</span>
  } @else if (editable(); as editable) {
    <app-sheet-cell-editor
      [cell]="editable.cell"
      [cellType]="editable.cellType"
      [configuration]="editable.configuration"
      [label]="hint()"
      (started)="selectRow()"
      (changed)="save($event)"
    />
  } @else {
    <app-sheet-cell-value
      [cell]="cell()"
      [cellType]="cellType()"
      [configuration]="configuration()"
      [hint]="hint()"
    />
  }

  @if (hasMarks()) {
    <app-sheet-cell-marks
      [rowChange]="rowChange()"
      [cellChange]="cellChange()"
      [lockedBy]="lockedBy()"
    />
  }
</div>
