<p-tree
  class="tree"
  [value]="nodes()"
  selectionMode="single"
  [selection]="selected()"
  (onNodeSelect)="open($event)"
  ariaLabel="Table structure"
  scrollHeight="9rem"
>
  <ng-template #node let-node>
    <span class="node" [attr.title]="hint(node)">
      <i class="pi" [class]="icon(node)" aria-hidden="true"></i>
      <span class="name">{{ node.label }}</span>
      @if (tag(node); as tag) {
        <p-tag
          [value]="tag"
          [severity]="isAddable(node) ? 'info' : 'secondary'"
          [icon]="isAddable(node) ? 'pi pi-clone' : 'pi pi-lock'"
          styleClass="node-tag"
        />
      }
    </span>
  </ng-template>
</p-tree>
