@switch (editor()) {
  @case ('Text') {
    <app-sheet-text-cell
      [cell]="cell()"
      [configuration]="configuration()"
      [label]="label()"
      (started)="started.emit()"
      (changed)="changed.emit($event)"
    />
  }
  @case ('Number') {
    <app-sheet-number-cell
      [cell]="cell()"
      [configuration]="configuration()"
      [label]="label()"
      (started)="started.emit()"
      (changed)="changed.emit($event)"
    />
  }
  @case ('Date') {
    <app-sheet-date-cell
      [cell]="cell()"
      [label]="label()"
      (started)="started.emit()"
      (changed)="changed.emit($event)"
    />
  }
  @case ('Checkbox') {
    <app-sheet-checkbox-cell
      [cell]="cell()"
      [label]="label()"
      (started)="started.emit()"
      (changed)="changed.emit($event)"
    />
  }
  @case ('LinkedDropdown') {
    @if (linkedChoices(); as choices) {
      <app-sheet-linked-dropdown-cell
        [cell]="cell()"
        [choices]="choices"
        [label]="label()"
        (started)="started.emit()"
        (changed)="changed.emit($event)"
      />
    }
  }
  @case ('Dropdown') {
    <app-sheet-dropdown-cell
      [cell]="cell()"
      [cellType]="cellType()"
      [label]="label()"
      (started)="started.emit()"
      (changed)="changed.emit($event)"
    />
  }
}

@if (hasSettings()) {
  <app-sheet-cell-settings
    [cell]="cell()"
    [cellType]="cellType()"
    (changed)="settingsChanged.emit($event)"
  />
}
