@for (cell of layout().cells; track cell.cell.id) {
  <app-sheet-grid-cell [layout]="cell" />
}

@for (child of layout().children; track child.section.id) {
  <app-sheet-grid-section [layout]="child" />
}

@if (layout().emptyStyle; as emptyStyle) {
  <div class="empty" [style]="emptyStyle">Empty section</div>
}

@if (sheetSection(); as section) {
  @if (canAdd() || change()) {
    <div class="add" (click)="$event.stopPropagation()">
      @if (canAdd()) {
        <app-sheet-add-menu
          [tableId]="tableId()"
          [sectionId]="section.id"
          [sections]="section.addableSections"
          [iconOnly]="true"
        />
      }
      @if (change(); as change) {
        <app-sheet-change-tag [change]="change" />
      }
    </div>
  }
}
