@if (!template().isEditable) {
  <p-message class="banner" severity="secondary" size="small" icon="pi pi-lock">
    <span class="text">
      @if (isLatest()) {
        Version {{ template().versionNumber }} is used on sheets, so it's read-only. Sheets keep
        this layout. Start version {{ latestNumber() + 1 }} to make changes.
      } @else {
        You're looking at version {{ template().versionNumber }}. Sheets built on it keep this
        layout; changes go into the latest version.
      }
    </span>
    @if (isLatest()) {
      <p-button
        icon="pi pi-copy"
        [label]="'Start version ' + (latestNumber() + 1)"
        size="small"
        [disabled]="isSaving()"
        (onClick)="createVersion()"
      />
    } @else {
      <p-button
        [label]="'Open version ' + latestNumber()"
        size="small"
        [outlined]="true"
        (onClick)="showLatest()"
      />
    }
  </p-message>
}
