:host {
  display: block;
  margin: 6px 8px 0;
  font-size: 0.78rem;
}

::ng-deep .banner .p-message-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.text {
  flex: 1;
  min-width: 200px;
}
