<ol class="options">
  @for (option of options(); track option.id; let index = $index, first = $first, last = $last) {
    <li>
      <p-inputgroup>
        <input
          #optionInput
          pInputText
          pSize="small"
          type="text"
          maxlength="100"
          [attr.aria-label]="'Option ' + (index + 1)"
          [value]="option.value"
          [disabled]="disabled()"
          (change)="rename(index, optionInput)"
        />
        <p-button
          icon="pi pi-chevron-up"
          size="small"
          severity="secondary"
          [outlined]="true"
          [disabled]="disabled() || first"
          ariaLabel="Move option up"
          (onClick)="move(index, -1)"
        />
        <p-button
          icon="pi pi-chevron-down"
          size="small"
          severity="secondary"
          [outlined]="true"
          [disabled]="disabled() || last"
          ariaLabel="Move option down"
          (onClick)="move(index, 1)"
        />
        <p-button
          icon="pi pi-times"
          size="small"
          severity="danger"
          [outlined]="true"
          [disabled]="disabled()"
          ariaLabel="Remove option"
          (onClick)="remove(index)"
        />
      </p-inputgroup>
    </li>
  } @empty {
    <li class="none">No options yet. A dropdown needs at least one.</li>
  }
</ol>

<p-inputgroup>
  <input
    #newOption
    pInputText
    pSize="small"
    type="text"
    maxlength="100"
    placeholder="New option"
    aria-label="New option"
    [disabled]="disabled()"
    (keydown.enter)="add(newOption)"
  />
  <p-button
    icon="pi pi-plus"
    label="Add"
    size="small"
    [disabled]="disabled()"
    (onClick)="add(newOption)"
  />
</p-inputgroup>
