<span class="move">
  <span class="position">{{ position() }} of {{ count() }}</span>
  <p-button
    icon="pi pi-chevron-up"
    size="small"
    severity="secondary"
    [text]="true"
    [disabled]="!canMoveUp()"
    [ariaLabel]="'Move ' + noun() + ' earlier'"
    (onClick)="moveUp()"
  />
  <p-button
    icon="pi pi-chevron-down"
    size="small"
    severity="secondary"
    [text]="true"
    [disabled]="!canMoveDown()"
    [ariaLabel]="'Move ' + noun() + ' later'"
    (onClick)="moveDown()"
  />
</span>
