@use 'mixins' as mx;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-body {
  display: flex;
  flex: 1;
  min-height: 0;
}

.app-main {
  @include mx.flex-fill;
  overflow: auto;
  padding: var(--app-space-4);
}
